<!DOCTYPE html>
<html>
  <head>
    <title>Plant Doctor</title>
    <!--meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--//booststrap end-->

    <!-- font-awesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
    />
    <!-- //font-awesome icons -->

    <!--stylesheets-->
    <link
      href="../static/styles/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <!--//stylesheets-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <!--headder-->
    <div class="header-outs inner_page-banner" id="home">
      <div class="headder-top">
        <!-- nav -->
        <nav>
          <div id="logo">
            <h1><a href="/">Plant-Doctor</a></h1>
          </div>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop" />

          <ul class="menu mt-2">
            <li class="active"><a href="/#home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#features">Features</a></li>
            <li><a href="/#test">Detect</a></li>
            <li>
              <a href="{{ url_for('team') }}">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
    </div>
    <!--//headder-->
    <!-- short -->
    <!-- <div class="using-border py-3">
      <div class="inner_breadcrumb ml-4">
        <ul class="short_ls">
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- //short-->
    <section class="newlink-new">
      <div class="link-center">
        <!-- <button
          type="button"
          class="btn btn-outline-primary"
          onclick="window.location.href='{{ url_for( 'team' , table='Y' ) }}';"
        > -->

        <button class="btn btn-outline-primary" onclick="history.back()">
          Translate to <span style="color: red">English</span>
        </button>
        <!-- Translate to <span style="color: red;">नेपाली!</span>
        </button> -->
      </div>
    </section>
    <!-- about -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row" style="justify-content: center">
          <div class="col-md-10 about-two-grids">
            <h3 class="mb-md-4 mb-sm-3 mb-3 text-center">Result</h3>
            <div>
              <img
                src="{{url_for('static', filename='images/Tomato___Bacterial_spot.JPG')}}"
                align="middle"
              />
            </div>
            <div class="about-para-txt text-justify">
              <b>बाली</b>: टमाटर <br /><b>रोग</b>: ब्याक्टेरियल स्पट<br />
              <br />
              <u><b>रोगको कारण:</b></u> <br /><br />
              1. यो रोग Xanthomonas को चार प्रजातिहरु (X. euvesicatoria, X.
              Gardneri, X. perforans, र X. vesicatoria)। मा उत्तरी क्यारोलिना,
              X. perforans सम्बन्धित प्रमुख प्रजाति हो टमाटर र एक्स मा
              ब्याक्टेरिया स्पट संग। euvesicatoria हो काली मिर्चमा रोगसँग
              सम्बन्धित प्रमुख प्रजातिहरू। <br /><br />
              2. सबै चार ब्याक्टेरिया सख्त रूपमा एरोबिक, ग्राम-नेगेटिभ रडहरू छन्
              लामो ह्विप-जस्तो फ्ल्यागेलम (पुच्छर) जसले तिनीहरूलाई भित्र जान
              अनुमति दिन्छ पानी, जसले तिनीहरूलाई भिजेको बिरुवाको ऊतक र कारणलाई
              आक्रमण गर्न अनुमति दिन्छ संक्रमण। <br /><br />
              <u><b>रोगबाट कसरी बच्ने/उपचार गर्ने:</b></u> <br />
              <br />१. सबैभन्दा प्रभावकारी व्यवस्थापन रणनीति को प्रयोग हो रोगजनक
              रहित प्रमाणित बीउ र रोग मुक्त प्रत्यारोपण हरितगृहहरूमा रोगजनकको
              परिचय रोक्न र क्षेत्र उत्पादन क्षेत्रहरू। बिरुवाहरू धेरै
              सावधानीपूर्वक निरीक्षण गर्नुहोस् र अस्वीकार गर्नुहोस् संक्रमित
              प्रत्यारोपण - तपाईंको आफ्नै सहित! <br /><br />२. प्रत्यारोपण मा
              उत्पादन ग्रीनहाउस, ओभरवॉटरिंग र ह्यान्डलिंग कम गर्नुहोस् बिरुवाहरू
              भिजेको बेला।
              <br />
              <br />३. ट्रे, बेन्च, उपकरण र हरितगृह संरचना हुनुपर्छ बिरुवा
              बालीको बीचमा धोई र सरसफाइ गर्न।<br />
              <br />४. नगर्नुहोस् स्प्रे, बाँध, फसल, वा भिजेको बिरुवाहरू
              ह्यान्डल गर्नुहोस् जुन फैलाउन सक्छ रोग।
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //about -->

    <!-- footer -->
    <footer>
      <div class="container pt-5 pb-3">
        <div class="footer-w3layouts-head text-center">
          <h2><a href="/">Plant-Doctor</a></h2>
        </div>
        <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
          <!-- <p>All Rights Reserved | Design by Soumyajit</p> -->
        </div>
        <!-- move icon -->
        <div class="text-center">
          <a href="#home" class="move-top text-center mt-3"
            ><i class="fa fa-arrow-up" aria-hidden="true"></i
          ></a>
        </div>
        <!--//move icon -->
      </div>
    </footer>
    <!--//footer -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
